
* {
  margin: 0;
  text-decoration: none;
}

html,
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #282a36;
}

.page-wrapper {
  display: grid;
  place-items: center;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
}

.content-intro {
  color: #f8f8f2;
  font-size: 1em;
  max-width: 1000px;
  text-align: left;
  margin-top: 2em;
}

h1 {
  color: #f8f8f2;
  font-size: 5em;
  letter-spacing: -0.04em;
}

p{
margin-top: 0.4em;
margin-bottom: 0.4em;
}

a{
  color:#8be9fd;
}
.brag {
  color: #bd93f9;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.5em;
  margin: 15px 0;
}

.divider {
  color: #f8f8f2;
}

.icon {
  color: #f8f8f2;
  padding: 15px;
  border-radius: 50%;
}

.icon:hover {
  cursor: pointer;
  background-color: rgb(22, 22, 22);
}
